---
title: About this page for you
layout: base.njk
---

<div class="container">
  <h1>This page is really for you!</h1>
  <p>It was made for you using HTML, CSS and JavaScript. And served as a JAMStack site.</p>
</div>

