---
title: A page for you
layout: base.njk
---

<div class="container">
    <h1>This is a page for you</h1>
    <div class="vibe">You are great!</div>
    <div class="love">
        ❤️
    </div>

    <button id = "find-me">Show my location</button><br/>
    <p id = "status"></p>
    <a id = "map-link" target="_blank"></a>


    {# <ul>
        {% for article in news.articles %}
        <li>
            <h3>
                <a href="{{ article.url }}">{{ article.title }}</a>
            </h3>
            <span
                >{{ article.source.name }} - <time>{{ article.publishedAt }}</time></span
            >
        </li>

        {% endfor %}
    </ul> #}
</div>
<script src="/js/app.js"></script>
